body{
    margin: 0;
    padding: 0;
}


.logo{
    position: absolute;
    margin-top: 50px;
    right: 1900px;

}
.charging{
    position: absolute;
    right: 1600px;
    align-items: center;
    margin-top: -20px;
}

/* .home_btn{
    height: 40px;
    width: 90px;
    color: white;
    background-color: #47AF71;
    border-radius: 3px;
    cursor: pointer;
    align-items: center;
    justify-content: center;

} */


.home-btn{
    margin-left: 80px;
    background-color: #47AF71;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100px;
    text-align: center;
    display: flex;
    border-radius: 10px;
    bottom: -80px;
    
} 

#search{
    position: absolute;
    right: 3px;
}

.navbar ul{
    display: flex;
    margin-top: 0%;
    justify-content: center;
    list-style: none;
}

.navbar ul li{
    margin-right: 100px;
    color: rgb(0, 0, 0);
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid white;
}





.background_img{
    width: 100%;
    margin: 20px;
    
}




.text {
  position: absolute;
  color: white;
  top: 55%;
  left: 45%;
}

.button_choose_ev{
    position: absolute;
    width: 473px;
    height: 84px;
    left: 628px;
    top: 833px;
    color: white;
    background: rgba(71, 175, 113, 0.51);
    border-radius: 10px;

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 36px;
    line-height: 40px;
    top: 70%;
    left: 40%;
}

.upper_text{
    /* justify-content: center; */
    text-align: center;
}
.second_page ul {
    display: flex;
    list-style: none;
    justify-content: center;
}
.second_page ul li{
    margin: 30px;
    width: 5%;
    text-align: center;
    padding: 10px;
    background: #47AF71;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.carousel{

    width: 98%;
    height: 704px;
    left: 0px;
    top: calc(50% - 704px/2);
     margin: 20px;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.43) -2.63%, #000000 114.7%);
    border: 1px solid #D6D6D6;
    border-radius: 10px;

    /* background: linear-gradient(180deg, rgba(255, 255, 255, 0.43) -2.63%, #000000 114.7%); */
}
.carousel_items{ 
    position: relative;
    width: 70%;
    height: 400px;
    left: 50%;
    top: 50%;
    background-repeat: no-repeat;
    transform: translate(-50%,-50%);
}

.carousel_item{
    width: 668px;
    height: 504px;
    background: url(static/Screen_Shot_2023-03-14_at_12.05\ 1.png);
    margin-left: 25%;

}

.carousel_brands{
    width: 126px;
    height: 168px;
    left: -200px;
    top: -115px;
    position: absolute;
    background: url(static/Screen_Shot_2023-03-14_at_12.09\ 1.png);
}
.compare_button{
    margin-bottom: 200px;
}

.compare_btn{
    width: 262px;
    height: 66px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    border-radius: 10px;
    
}
.footer{
    margin-bottom: 0px;
    height: fit-content;
    width: 100%;
    background: #202021;
}

.list_items{
    padding: 20px;
    color: white;
    list-style: none;
    display: inline-block;
}

.item{
    padding: 5px;

}

.footer_logo{
    display: inline-block;
    left: 50%;
    top: -50px;
    margin-left: 40%;
    color: white;
}


.social_media{
    position: absolute;
    display: inline-block;
    left: 85%;
    padding-top: 50px;
}
.socials{
    padding-right: 10px;
}
.social_media_list{
    display: flex;
    list-style: none;
}

.company{
    display: inline-block;
}
.company_name_loc{
    position: relative;
    left: 720px;
    color: white;
}