body{
    margin: 0;
    padding: 0;
}

.logo{
    position: absolute;
    margin-top: 50px;
    right: 2100px;

}
.charging{
    position: absolute;
    right: 1800px;
    align-items: center;
    margin-top: -20px;
}

.home-btn{
    margin-left: 80px;
    background-color: #47AF71;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 100px;
    text-align: center;
    display: flex;
    border-radius: 10px;
    bottom: -80px;
    
}

.other_links{

    display: flex;
    
}
#ev-finder-link{
    text-decoration: none;
    color: black;
}

.ev-finder{
    background-color: #47AF71;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    width: 130px;
}

#ev-finder-link:hover{
    background-color: #47AF71;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    width: 130px;
}

.compare:hover{
    background-color: #47AF71;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    width: 130px;
}
.browse:hover{
    background-color: #47AF71;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    width: 130px;
}

#search{
    position: absolute;
    right: 3px;
}

#home-btn-ev-finder{
    text-decoration: none;
    color: black;
}

#home-btn-ev-finder:hover{
    background-color: #47AF71;
    align-items: center;
    justify-content: center;
    text-align: center;
    display: flex;
    border-radius: 10px;
    cursor: pointer;
    height: 40px;
    width: 130px;
}


.navbar ul{
    display: flex;
    margin-top: 0%;
    justify-content: center;
    list-style: none;
}

.navbar ul li{
    margin-right: 100px;
    color: rgb(0, 0, 0);
    font-family: 'Arial';
    font-style: normal;
    font-weight: 500;
    font-size: 23px;
    margin-top: 50px;
    margin-bottom: 50px;
    border: 2px solid white;
}



.first-page{
    margin-right: 30px;
}

.background_img{
    width: 100%;
    margin: 20px;
    
}
/* 
.text {
  position: absolute;
  color: white;
  font-family: 'Gotham', sans-serif;
  top: 55%;
  left: 45%;
} */

.big-text-bg{
    display: flex;
    position: absolute;
    color: white;
    font-family: 'Gotham', sans-serif;
    top: 50%;
    left: 35%;
    font-size: 45px;

}

#and{
    padding-left: 10px;
    padding-right: 10px;
    color: rgba(71, 175, 113);
    font-size: 45px;
    margin-top: 100px;
}

.small-text{
    display: flex;
    position: absolute;
    color: white;
    font-family: 'Gotham', sans-serif;
    top: 60%;
    left: 40%;
    width: 450px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 32px;
    font-weight: 1000;
}



.button_choose_ev{
    position: relative;
    top: -630px;

    margin: auto;
    height: 80px;
    width: 500px;

    background: rgba(71, 175, 113, 0.60);
    border-radius: 10px;

    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Gotham', sans-serif;
    font-size: 36px;
    font-weight: 1000;
    color: white;
}

.upper_text{
    text-align: center;
}


.second_page ul {
    display: flex;
    list-style: none;
    justify-content: center;
}
.second_page ul li{
    margin: 30px;
    width: 5%;
    text-align: center;
    padding: 10px;
    background: #47AF71;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}


  /*  */

  .ev-slider-container{
    position: relative;
    margin: auto;
    width: 97.5%;
    height: 840px;

    background: linear-gradient(180deg, rgba(255, 255, 255, 0.43) -2.63%, #000000 114.7%);
}

.ev-slider-image-container{
    display: none;
    height: 800px;
    width: 1100px;
    margin: auto;
}


/* Next & previous buttons */
.prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  /* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }

  /* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  /*  */

.compare_button{
    margin-bottom: 200px;
}

.compare_btn{
    width: 262px;
    height: 66px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    font-family: 'Arial';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 27px;
    border-radius: 10px;
    
}
.footer{
    margin-bottom: 0px;
    height: fit-content;
    width: 100%;
    background: #202021;
}

.list_items{
    padding: 20px;
    color: white;
    list-style: none;
    display: inline-block;
}

.item{
    padding: 5px;

}

.footer_logo{
    display: inline-block;
    left: 50%;
    top: -50px;
    margin-left: 40%;
    color: white;
}


.social_media{
    position: absolute;
    display: inline-block;
    left: 85%;
    padding-top: 50px;
}
.socials{
    padding-right: 10px;
}
.social_media_list{
    display: flex;
    list-style: none;
}

.company{
    display: inline-block;
}
.company_name_loc{
    position: relative;
    left: 720px;
    color: white;
}


